@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background: linear-gradient(to right, #E0BC51, #BE7934,#5D7DDD)">
    
    <h1 class="display-4" style="font-family: 'Exo 2', sans-serif;"> Feel the difference</h1>
    <h3 class="" style="font-family: 'Poppins',sans-serif;font-weight:300">Memorable, stylish, and purposeful, Hotel Bindas creates meaningful experiences in inspiring environments</h3>
    <h3 class="" style="font-family: 'Poppins',sans-serif;font-weight:300">Rooms Are Available at lowest rate in market</h3>
    <img src="~/Images/image5.jpg" style="align-content:center; width:100%; height:100%"/>
</div>
