@{
    ViewBag.Title = "Services";
}

<h2>Basic Services of hotel Bindas</h2>
<p>
	Checking-in and checking-out are held round-the-clock.
	Besides providing an accommodation for temporary staying,
	related services such as changing bedclothes, giving towels and hygiene items,
	the opportunity to use appliances and TV set, cleaning and sanitation are available.
</p>
<div>
	<h1>Additional Serivces provided by our hotel!</h1>
	<ul>
		<li>
			clothing and footwear repairing, laundry and dry-cleaner;
			hairdresser;
		</li>
		<li>bath, sauna, swimming-pool;</li>
		<li> billiards, gym and playgrounds;</li>
		<li> delivery of flowers and gifts;</li>
		<li>using a luggage locker or a safety deposit box;</li>
		<li> sports equipment and household appliances rentals;</li>
		<li> car rental; </li>
		<li> calling a taxi;</li>
		<li> tickets sale service for transportation and various events;</li>
		<li> getting a booking in a restaurant;</li>
		<li> guided tour service;</li>
		<li> renting of a conference-hall or other premises.</li>
	</ul>
</div>
<div>
	<h1>Paid And Unpaid Of  Our Services</h1>
	<ul>
		<li> waking by a certain time;</li>
		<li> delivery of personal letters to a hotel room if they are sent to the hotel address; </li>
		<li> calling an ambulance if it is needed;</li>
		<li> using first aid kit;</li>
		<li> providing a set of dishes, boiling water, scissors, a needle and thread.</li>
	</ul>
</div>