@model SignUpModel
@{
    ViewBag.Title = "Sign Up";
}

<div class="container">
    <span asp-validation-summery="All"></span>
    <div class="title">SignUp page</div>
    <div class="content">
      <form asp-action="SignUp" asp-controller="Account" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" asp-for="FullName">
            <span asp-validation-for="FullName" class="text-danger"></span>
          </div>
          <div class="input-box">
            <span class="details">Mobile Number</span>
            <input type="text" placeholder="Enter your Mobile Number" asp-for="MobileNumber">
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
          </div>
          <div class="input-box">
            <span class="details">Email Address</span>
            <input type="text" placeholder="Enter your email Address" asp-for="EmailAddress">
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
          </div>
          <div class="input-box">
            <span class="details">UserName</span>
            <input type="text" placeholder="Enter your UserName" asp-for="UserName">
            <span asp-validation-for="UserName" class="text-danger"></span>
          </div>
          <div class="input-box">
            <span>Password</span>
            <input type="password" placeholder="Enter your password" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
          <div class="input-box">
            <span>IdProof (PAN Number)</span>
            <input type="text" placeholder="Enter your Id Proof" asp-for="IdProof">
            <span asp-validation-for="IdProof" class="text-danger"></span>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" value="Male" name="gender" id="dot-1" asp-for="Gender" hidden>
          <input type="radio" value="Female" name="gender" id="dot-2" asp-for="Gender" hidden>
          <input type="radio" value="Prefer not to say" name="gender" id="dot-3" asp-for="Gender" hidden>
          <span class="gender-title font-weight-bold">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <span asp-validation-for="Gender"></span>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>